.home-page{ 
  color: goldenrod;
  padding-top: 30px;
  
}
.home-title{
  text-align: left;
  font-style: oblique;
  font-family: "Trattatello, fantasy";
  font-weight: bold;
  margin-left: 30px;
}

.home-content{
  font-size: 1.5em;
  text-align: left;
  color: black;
  margin-left: 30px;
  padding-bottom: 30px;
  font-family: "cursive"
}

.home-link{
  font-family: "Trattatello, fantasy";
  font-size: 1.5em;
  margin-left: 30px;

}

.books-container{
  margin-left: 20px;

}



.book{
  float: left;
  padding: 10px;
  
}

.book-content{
  width: 306px;
  height: 600px;
  display: inline-block;
  border: 1px groove gray;
  text-align: center;
  font-family: "Trattatello, fantasy";
  color: black;
  
}
.user-books{
  float: left;
  padding: 10px;
 
 
}
.user-container{
  margin-left: 20px;
}
.user-content{
  width: 306px;
  height: 650px;
  display: inline-block;
  border: 1px groove gray;
  text-align: center;
  font-family: "Trattatello, fantasy";
  color: black;
}

.profile-title{
  font-family: "Trattatello, fantasy";
  text-align: center;
  color: goldenrod;
}

.profile-photo{
  border-radius: 50%;
  border: 1px solid black;
  margin-left: 20px;
  margin-top: 20px;
}

.name-bio{
  font-family: "Trattatello, fantasy";
  margin-left: 40px;
  margin-top: 20px;
  color: black
}

.about-section{
  width: 600px;
  height: 600px;
  font-family: "Trattatello, fantasy";
  margin-left: 40px;
  margin-top: 30px;
  font-size: 1.5em;
 
}
.signup-alart{
  color: red;
  margin-left: 40px;
  margin-top: 30px;
}

.signin-alart{
  color: black;
  margin-left: 40px;
  margin-top: 30px;
}

.book-details{
  font-family: "Trattatello, fantasy";
}

.book-showpage{
  padding-left: 20px;

}

.comment-show{
  width: 600px;
  border: 1px solid black;
  text-align: left;

}
.comment-content{
  font-family: "Trattatello, fantasy";
  margin-left: 20px;
  font-size: 1.2em;
}

.comment-date{
  font-weight: bold;
  font-size: 0.9em;
  color: coral;
}

.comment-form{
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 10px;
  margin-left: 10px; 
  margin-right:25%; 
  margin-top: 10%; 
}

.column {
  float: left;
  width: 40%;
  padding-left: 40px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}
.image-size{
  width: 400px;
  height: 300px;
}

/* .comment-form input[type=text], select {
  width: 100%;
  padding: 12px 12px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  
} */
/* 
.comment-form input[type=submit] {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.add-book input[type=submit]:hover {
  background-color: #45a049;
} */


/*  */

/* .add-book{
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  margin-left: 25%;
  margin-right:25%;
  margin-top: 10%;
  width: 50%;
} */
/* .add-book input[type=text], select {
  width: 100%;
  padding: 12px 12px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  
} */
/* 
.add-book input[type=submit] {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
} */

/* .add-book input[type=submit]:hover {
  background-color: #45a049;
}


.book-name{
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  overflow-wrap: break-word;
  font-weight: bold;
  color: #0c3d59;
}  */

.signin-form, .signup-form{
  border: 1px solid rgb(128, 128, 128);
  text-align:left; 
  /* background-color: rgb(127, 236, 255); */
  width: 500px;
  /* height: px; */
  padding: 50px;
  margin-top: 100px;
  margin-right: 500px;
  margin-left: 500px;
  margin-bottom: 100px;    
}

.navbar-logo {
  font-family: 'cursive';
  font-style: italic;
  font-size: 2.3em;
  font-weight: bold;
  padding: 40px;
  margin: 0px 8px 8px;
  color: goldenrod;
  text-decoration: none;
}

.navbar-link {
  font-family: 'cursive';
  font-size:  1.5em;
  font-weight: bold;
}

.dropdown-button{
  float: right;
  margin-right: 20px;
  margin-top: 8px;
}

#dropdown-menu-align-right{
  background-color: maroon;
  text-align: center;
  color: black;
  font-weight: bold;
}

.signout-button{
  border: none;
  font-weight: bold;
  font-family: 'cursive';
  color:black;
  font-size: 22px;
  text-decoration: none;
  cursor: pointer;
  background-color: white;
  text-align: center;
  margin-left: 18px;

}

