/* .App {
  text-align: center;
} */

/* home page style */
.home-page{
  background-image: url(./book.jpg);
  background-position: center;
  background-color: #cccccc; 
  height: 92vh;
  background-position: center; 
  background-repeat: no-repeat; 
  background-size: auto;
}

.home{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.home-logo {
  font-family: 'Century Gothic';
  font-size: 5em;
  font-weight: bold;
  color: blueviolet;
  margin-bottom: 25px;
  text-align: center;
}
.home-content{
  font-size: 2em;
  text-align: center;
  color: white;
  padding-bottom: 30px;
}

.navbar-link {
  font-family: 'Optima';
  font-size:  1.2em;
  font-weight: bold;
}

.btn-home{
  width: 100px;
  position: absolute;
}

.book{
  /* float: left; */
  padding: 15px;
  display:inline-block;
  height: 325 px;
  width: 232px; 
  /* border: 1px solid #000000; */
  word-wrap: break-word;
  
}

.book-content{
  /* width:250; */
   /* height: 40vh;  */
  
}

/* 
.book-name{
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  overflow-wrap: break-word;
  font-weight: bold;
  color: #0c3d59;
} */

/* navbar styling */


/* .App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
